    /* menu lateral */
    
    #btnMenu {
        float: left;
        display: block;
        
    }

    #topBar {
        width: 100%;
    }

    #sideBarLeft {
        float: left;
        width: 20%;
        margin-top: -1%;
    }
    
    #dropDownLogout {

    }